{{ define "main" }}
  {{ .Content }}
	<div class="profile">
		<div class="about-me">
			<div class="title">
			<h1 id="my-name">Franklin Harding</h1>
			
						</div>

			<div class="description">
			<img alt="Franklin Harding" src="DSC_0068.jpeg" />
			<div class="links-summary">
<div class="links">
				<a href="mailto:fharding1@protonmail.com">fharding1@protonmail.com</a> 
				<a href="https://github.com/fharding1">Github</a>

				<a href="/franklinharding.pgp">PGP Key</a>
			</div>


			<p>I am a second-year computer science Ph.D. student at Brown University studying cryptography under the guidance of <a href="https://cs.brown.edu/people/alysyans/">Anna Lysyanskaya</a>. Currently I am focused on cryptographic protocols that can be leveraged to create fairer and more privacy-conscious systems. The techniques involved are often bizarre and accomplish seemingly impossible tasks. For example, a <a href="https://en.wikipedia.org/wiki/Blind_signature">blind signature scheme</a> is the digital analog of physically sealing a document in a carbon-paper envelope before having it signed. I received my bachelor's in Mathematics from Oregon State University.</p>
			</div>
			</div>

			<h3>Papers:</h3>
			<ul>
				<li>Rutchathon Chairattana-Apirom, Franklin Harding, Anna Lysyanskaya, and Stefano Tessaro. Server-Aided Anonymous Credentials, 2025. <a href="https://eprint.iacr.org/2025/513">[ePrint]</a> [CRYPTO 2025]</li>
				<li>Franklin Harding, Jiayu Xu. Unforgeability of Blind Schnorr in the Limited Concurrency Setting, 2024. <a href="https://eprint.iacr.org/2024/1100">[ePrint]</a> <a href="https://cic.iacr.org/p/1/3/16">[Communications in Cryptology]</a> [ArcticCrypt 2025]</li>
				<li>Willow Barkan-Vered, Franklin Harding, Jonathan Keller, and Jiayu Xu. On the Non-Malleability of ECVRF in the Algebraic Group Model, 2023. <a href="https://eprint.iacr.org/2023/1004">[ePrint]</a></li>
			</ul>

			<h3>Other projects:</h3>
			<ul>
				<li><a href="/posts/ros">How Easy is ROS with Not-So-Random Oracles?</a> (CS517 project where we had to use an SMT solver)</li>
				<li><a href="https://www.crowdsupply.com/securinghw/tigard">Tigard</a>: an open-source FT2232H hardware hacking tool 
				<li><a href="https://gloworm-vision.github.io/gloworm-docs/">Gloworm</a>: a low-cost vision tracking module for FIRST robotics competitions
				<li>Web challenges for the <a href="https://github.com/BSidesPDX/CTF-2019">BSidesPDX 2019 Capture the Flag</a> hacking competition</li>
				<li><a href="https://github.com/Pigmice2733/peregrine-backend">Peregrine</a>: a scouting app for FIRST robotics teams
			</ul>

		</div>

  {{ end }}
