{{ define "main" }}
  {{ .Content }}
	<div class="profile">
		<div class="about-me">
			<div class="title">
			<h1 id="my-name">Franklin Harding</h1>
			
						</div>

			<div class="description">
			<img alt="Franklin Harding" src="DSC_0068.jpeg" />
			<div class="links-summary">
<div class="links">
				<a href="mailto:fharding1@protonmail.com">fharding1@protonmail.com</a> 
				<a href="https://github.com/fharding1">Github</a>
				<a href="/fh.txt">age</a>
			</div>


			<p>I am a second-year computer science Ph.D. student at Brown University advised by <a href="https://cs.brown.edu/people/alysyans/">Anna Lysyanskaya</a>. My research has focused on cryptographic protocols that can be leveraged to create fairer and more privacy-conscious systems. I'm broadly interested in security and privacy from hardware to the entirely theoretical side of things. Away from a screen I enjoy climbing, hiking, and backcountry skiing.</p>
			</div>
			</div>

			<h3>Papers:</h3>
			<ul>
				<li>Karla Friedrichs, Franklin Harding, Anja Lehmann, Anna Lysyanskaya. Device-Bound Anonymous Credentials With(out) Trusted Hardware, 2025. <a href="https://eprint.iacr.org/2025/1995.pdf">[ePrint]</a> [Eurocrypt 2026]</li>
				<li>Rutchathon Chairattana-Apirom, Franklin Harding, Anna Lysyanskaya, and Stefano Tessaro. Server-Aided Anonymous Credentials, 2025. <a href="https://eprint.iacr.org/2025/513">[ePrint]</a> [Crypto 2025]</li>
				<li>Franklin Harding, Jiayu Xu. Unforgeability of Blind Schnorr in the Limited Concurrency Setting, 2024. <a href="https://eprint.iacr.org/2024/1100">[ePrint]</a> <a href="https://cic.iacr.org/p/1/3/16">[Communications in Cryptology]</a> [ArcticCrypt 2025]</li>
				<li>Willow Barkan-Vered, Franklin Harding, Jonathan Keller, and Jiayu Xu. On the Non-Malleability of ECVRF in the Algebraic Group Model, 2023. <a href="https://eprint.iacr.org/2023/1004">[ePrint]</a></li>
			</ul>

			<h3>Other stuff:</h3>
			<ul>
				<li><a href="https://github.com/fharding1/rusec-2026/blob/9a09d816c1c76f6e48ee1e1cc6361745ac6044ac/writeup.pdf">RUSEC 2026 Coloring Heist writeup</a>: I might start posting CTF challenge writeups here. This was a cool one that involved breaking a truncated Linear Congruential Generator (LCG) with the twist that you don't get sequential outputs. The solution is to construct an appropriate lattice basis and then use a CVP algorithm.</li>
				<li><a href="https://github.com/fharding1/advent-of-code-2025">Advent of Code 2025</a>: I did all of the Advent of Code challenges this year.</li>
				<li><a href="https://github.com/fharding1/formal-teal">Formal Teal</a>: a (very partial) formalization of Algorand's TEAL scripting language for Rob Lewis' formal proofs and verification class. Lean is amazingly powerful.</a></li>
				<li><a href="https://www.crowdsupply.com/securinghw/tigard">Tigard</a>: an open-source FT2232H hardware hacking tool that I designed with Joe Fitz and Piotr Esden-Tempski.
					<li><a href="https://gloworm-vision.github.io/gloworm-docs/">Gloworm</a>: a low-cost vision tracking module for FIRST robotics competitions designed around the RPi CM3+. I was annoyed by how expensive and closed-source the <a href="https://limelightvision.io/">Limelight</a> vision tracking module was so I designed my own. I had a run of about 50 units produced in China, painstakingly assembled them by hand, and sold them to various teams for no profit.
				<li>Web challenges for the <a href="https://github.com/BSidesPDX/CTF-2019">BSidesPDX 2019 Capture the Flag</a> hacking competition</li>
				<li><a href="https://github.com/Pigmice2733/peregrine-backend">Peregrine</a>: a scouting app for FIRST robotics teams which is still used to this day!
			</ul>

		</div>

  {{ end }}
