{{ define "main" }}
  {{ .Content }}
	<div class="profile">
		<div class="about-me">
			<h1 id="my-name">Franklin Harding</h1>
			<div class="links">
			<a href="mailto:fharding1@protonmail.com">fharding1@protonmail.com</a> 
			<a href="https://github.com/fharding1">Github</a>

			<a href="/franklinharding.pgp">PGP Key</a>
			</div>

			<p>I am a PhD student at Brown University studying cryptography.</p>

			<h3>Papers:</h3>
			<ul>
				<li>Franklin Harding, Jiayu Xu. Unforgeability of Blind Schnorr in the Limited Concurrency Setting, 2024. <a href="https://eprint.iacr.org/2024/1100.pdf">[ePrint]</a></li>
				<li>Willow Barkan-Vered, Franklin Harding, Jonathan Keller, and Jiayu Xu. On the Non-Malleability of ECVRF in the Algebraic Group Model, 2023. <a href="https://eprint.iacr.org/2023/1004.pdf">[ePrint]</a></li>
			</ul>

			<h3>Other projects:</h3>
			<ul>
				<li>Go libraries for <a href="https://github.com/fharding1/blindschnorr">Blind Schnorr</a> and <a href="https://github.com/fharding1/snowblind">Snowblind</a></li>
				<li><a href="/posts/ros">How Easy is ROS with Not-So-Random Oracles?</a> (mini-project for CS517 at OSU)</li>
				<li>A <a href="pollard-rho.pdf">short report</a> on Pollard's rho algorithm for discrete log computation</li>
				<li><a href="https://www.crowdsupply.com/securinghw/tigard">Tigard</a>: an open-source FT2232H hardware hacking tool 
				<li><a href="https://gloworm-vision.github.io/gloworm-docs/">Gloworm</a>: a low-cost vision tracking module for FIRST robotics competitions
				<li>Web challenges for the <a href="https://github.com/BSidesPDX/CTF-2019">BSidesPDX 2019 Capture the Flag</a> hacking competition</li>
				<li><a href="https://github.com/Pigmice2733/peregrine-backend">Peregrine</a>: a scouting app for FIRST robotics teams
			</ul>
		</div>

		<img alt="Franklin Harding" src="DSC_0068.jpeg" />
  {{ end }}
